
.page {
	display: grid;
	grid-gap: 20 px;
	grid-template-columns: auto;
	grid-template-rows: auto;
	color: white;
	grid-template-areas: "col col"  "col col col";
	
	
}

.page > * {
	padding: 1em;
	border-radius: 1em;
}
header {
	background-color: blue;
	grid-area: col;
}
article {
	background-color: green;
	grid-area : col;

}
aside {
	background-color: yellow;
	grid-area : col;
	
}
footer {
	background-color: blue;
	grid-area: col;
	
}


